html{
    background-color: #FFFFFF;
    font-family: "Inter", serif;
    font-size: 16px;
    line-height: 1.5;
    color: #030616;
}

h1{
    font-size: 36px;
    margin: 0;
    line-height: 1;
}

h2{
    font-size: 24px;
}

a{
    color:#4E80EE;
    text-decoration: none;
}

p{ font-size: 16px; }

ol { padding-left: 1.4em; margin-bottom: 24px;}
ul { padding-left: 1.6em; margin-bottom: 24px;}
li{ line-height: 2; }

.section-divide {
    margin: 36px 0px;
    border-bottom: 1px solid #D2D5DA;
}

.hero-container {
    background-color: transparent;
    padding: 64px 24px;
    text-align: center;
}


/* Faqs Main Container */
.faqs-section-container{
    padding: 40px 20px;
    background-color: #F8FAFC;
}

@media (min-width: 768px) {
    .faqs-section-container{
        padding: 44px 20px;
    }
}

@media (min-width: 1024px) {
    .faq-item-container{
        margin: 0 auto;
        max-width: 640px;
    }
}





/* Faq Item */
.faq-item-title{ margin-bottom: 24px; font-size: 24px; }
.faq-list-title{ margin-bottom: 24px; font-size: 16px; }
